.bg-image {
    background-color: $primary;
    color: #fff;
    text-align: center;
}
.brand-color{
    color: $primary;
    margin-bottom: 0;
}
.copyright{
    text-align: center;
    opacity: .4;
    margin: 0 auto;
}