// Text Styles
.title {
    font-size: 45px;
    font-weight: 900;
    color: $primary;
}

.link-reset{
    color: inherit;
    text-decoration: none;

    &:hover{
        color: inherit;
        text-decoration: none;
    }
}

@include block('page') {
    display: block;

    @include media-breakpoint-up(sm) {
        display: flex;
    }
}

@include block('content') {
    flex-grow: 1;
    margin-left: 0;
    padding: 0;
    display: flex;
}