@include block('user-photo'){
    width: 60px;
    height: 60px;
    background: $gray-400;
    border: 1px solid $gray-500;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    @include modifier('xs'){
        width: 35px;
        height: 35px;
    }

    @include modifier('xl') {
        width: 250px;
        height: 250px;
    }
}